# Python virtual environment
backend/venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# VS Code
.vscode/

# Flutter
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages

# Android
mobile/android/.gradle/
mobile/android/local.properties